<fieldset>
  <legend>查看学生宿舍分配</legend>
  <p>
    <b>宿舍号:</b>
    <%=h @room_student.room.name %>
  </p>
    <p>
    <b>床位号:</b>
    <%=h @room_student.bed %>
  </p>
    <p>
    <b>学生:</b>
    <%=h Student.find(@room_student.student_id).name %>
  </p>
  <p class="bbar">
    <input type="button" onclick="$page.showListView()" value="返回列表" />
  </p>
</fieldset>