<% form_for(@student) do |f| %>
  <fieldset>
    <legend>修改新生</legend>
    <div style="float:left;width:50%"><p>
      <%= f.label :thumb, "照片" %>
      <img id="student_thumb" src="<%= @student.thumb_url %>" alt="用户头像" style="width:150px; height:100px;" />
      <div id="uploading" style="display:none;margin-left:90px;color:red;font-weight:bold;font-size:16px;"> 图片上传中... </div>
      <iframe id="upload_iframe" src="/students/upload_thumb/<%=@student.id %>" style="margin-left:85px;height:50px" frameborder="no" scrolling="no" ></iframe>	
    </p></div>
    <%= render :partial => 'form', :locals => { :f => f }  %>
    <p class="bbar">
      <input type="button" value="上一条" id="btnPrev" />
      <input type="button" value='保存' id ="update"  />
      <input type="button" value='新增' id="btnNew"  />
      <input type="button" onclick="$page.showListView('reloadData')" value="返回列表" />
      <input type="button" value="下一条" id="btnNext" />
    </p>
  </fieldset>
<% end %>
