<% form_for(@step7) do |f| %>
  <fieldset>
    <legend>修改［<%= @step7.user.name %>］的公寓入住情况</legend>
    <%= render :partial => 'form', :locals => { :f => f }  %>
    <p class="bbar">
      <%= f.submit '更新' %>
      <input type="button" onclick="$page.showListView()" value="取消" />
    </p>
  </fieldset>
<% end %>