<fieldset>
  <legend>查看管理员信息</legend>
  <p>
    <b>姓名:</b>
    <%=h @user.name %>
  </p>
  <p>
    <b>院系:</b>
    <%=h @user.department.name %>
  </p>
    <p>
    <b>用户名:</b>
    <%=h @user.login_id %>
  </p>
  <p class="bbar">
    <input type="button" onclick="$page.showListView()" value="返回列表" />
  </p>
</fieldset>