<fieldset>
  <legend>查看宿舍楼</legend>
  <p>
    <b>楼号:</b>
    <%=h @building.name %>
  </p>
  <p class="bbar">
    <input type="button" onclick="$page.showListView()" value="返回列表" />
  </p>
</fieldset>