<fieldset>
  <legend>查看[<%= @step6.user.name %>]的日用品购买情况</legend>
  <p>
    <b>是否购买:</b>
    <%=h @step6.pass %>
  </p>
    <p>
    <b>购买时间:</b>
    <%=h @step6.date %>
  </p>
  <p class="bbar">
    <input type="button" onclick="$page.showListView()" value="返回列表" />
  </p>
</fieldset>