<% form_for(@step5) do |f| %>
  <fieldset>
    <legend>修改[<%= @step5.user.name  %>]的入学报到注册情况</legend>
    <%= render :partial => 'form', :locals => { :f => f }  %>
    <p class="bbar">
      <%= f.submit '保存' %>
      <input type="button" onclick="$page.showListView()" value="取消" />
    </p>
  </fieldset>
<% end %>