<fieldset>
  <legend>查看[<%= @step4.user.name %>]的保险办理情况</legend>
  <p>
    <b>是否办理:</b>
    <%=h @step4.pass %>
  </p>
    <p>
    <b>办理时间:</b>
    <%=h @step4.date %>
  </p>
  <p class="bbar">
    <input type="button" onclick="$page.showListView()" value="返回列表" />
  </p>
</fieldset>