<p>
  <b>Info class:</b>
  <%=h @class_student.info_class %>
</p>

<p>
  <b>Student:</b>
  <%=h @class_student.student %>
</p>


<%= link_to 'Edit', edit_class_student_path(@class_student) %> |
<%= link_to 'Back', class_students_path %>